<h1>Category list (<%= @categories.length %>)</h1>
<ol>
	<% @categories.each do |category| %>
		<li><%= category.name %>(<%= category.products.length %>) <%= link_to "view",category_path(category.id) %></li>
	<% end %>
	<% if (user_signed_in?) && (can? :create,Category.new) %>  
		<%= link_to "Add category",new_category_path %>
	<% end %>
</ol>