<%= form_for @product do |f| %>
	
	<% if @product.errors.any? %>
		
		<ul>
			<% @product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>

		
	<% end %>

	<label for="product_category_id">Category ID</label><br>
	<%= f.collection_select :category_id,Category.all, :id, :name,prompt: "Select Category" %> <br><br>

	<label for="product_name">Name</label><br>
	<%= f.text_field :name %> <span id="nameHandleMsg"></span><br>

	<label for="product_price">Price : </label><br>
	<%= f.number_field :price, min: 1%><br>

	<label for="product_description">Description : </label><br>
	<%= f.text_area :description %><br>

	<label for="product_stock">Stock :</label><br>
	<%= f.number_field :stock %><br><br>

	<%= f.check_box :cod_eligible %> <label for="cod_eligible_product">COD Eligible</label><br>

	<label for="product_image_url">Image : </label><br>
	<%= f.file_field :image_url %><br>


	<%= f.submit %>
<% end %> 
<script type="text/javascript">
	nameHandle = document.getElementById("product_name")
	nameHandleMsg = document.getElementById("nameHandleMsg")
	nameHandle.addEventListener('focus',function(){
		nameHandleMsg.innerHTML = "Enter the product name";
	},false)
	nameHandle.addEventListener('blur',function(){
		if (nameHandle.value == "") {
			nameHandleMsg.innerHTML = "Name can't be empty";	
		}
		else{
			nameHandleMsg.innerHTML = "";
		}
		
	},false)

</script>